@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --primary-color: #e50914;
  --secondary-color: #564d4d;
  --background-color: #141414;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
