@tailwind utilities;

:root {
  --primary-color: #e50914;
  --background-color: #141414;
  --foreground-color: #fff;
  --card-color: #222;
  --muted-color: #b3b3b3;
}

body {
  background: var(--background-color);
  color: var(--foreground-color);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
